.container{
    text-align: center;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    width:auto;
    border:5px solid rgb(3, 244, 159);
    border-radius: 8px;
}
button{
    font-size: 40px;
    background-color: rgb(207, 216, 216);
    width:90px;
    height: 57px;
    border-radius: 8px;
   
}
.calculator{
    display:inline-block;
    background-color:rgb(132, 145, 127);
    padding:23px;
    border-radius:53px;
}